<a href="{% url 'core_composer_build_template' 'new' %}"
       class="btn btn-success pull-right" role="button">Start Template from scratch</a>

<h2>Select Template</h2>

Start composing a new template or customize an existing template. It will automatically load the appropriate
form and display it on the next page.
<!-- FIXME: HTML below common with core_curate_app/curate.html -->

<div id="template_selection">

    <h3 class="text-center">Global Templates</h3>

<table class="table table-bordered">
    <tr>
        <th><b>Template name</b></th>
        <th style="width: 150px;"><b>Actions</b></th>
    </tr>
    {% for template in data.global_templates %}
        <tr>
            <td templateID='{{template.current}}'>{{ template.title }}</td>
            <td>
                <a href="{% url 'core_composer_build_template' template.current %}"
                   class="btn btn-primary" role="button">Select Template</a>
            </td>
        </tr>
    {% endfor %}
</table>

{% if user.is_authenticated %}

    <h3 class="text-center">User Defined Templates</h3>

    {% if data.user_templates %}
    <table class="table table-bordered">
        <tr>
            <th><b>Template name</b></th>
            <th style="width: 150px;"><b>Actions</b></th>
        </tr>
        {% for template in data.user_templates %}
            <tr>
                <td templateID='{{template.id}}'>{{ template.title }}</td>
                <td>
                    <a href="{% url 'core_composer_build_template' template.current %}"
                        class="btn btn-primary" role="button">Select Template</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <div class="unavailable">
            No user templates available.
        </div>
    {% endif %}
{% endif %}
</div>
